body {
  text-align: center;
  background-image: url("../images/hexellence.png");
  background-color: #cccccc;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding: 5%;
  font-size: 3rem;
}

#hero-title {
  padding-top: 0;
}

.hero {
  width: 80%;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  opacity: 70%;
}

.alert {
    display: none;
}

.card-deck {
  padding: 5%;
}
